In [1]:
import gzip
from collections import defaultdict
import string
import pandas as pd
import numpy as np
import json
import demjson # Json parser
import math

In [2]:
def readData(path):
    x = gzip.open(path)
    for l in x:
        yield eval(l)

In [3]:
def readDataDemJson(path):
    x = gzip.open(path)
    for l in x:
        yield demjson.decode(l)

## ModCloth

In [750]:
mod_cloth_data = []
for d in readData("modcloth_final_data.json.gz"):
    mod_cloth_data.append(d)

In [751]:
df_1 = pd.DataFrame(mod_cloth_data)
df_1

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29,7,5.0,d,38,34,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31,13,3.0,b,30,36,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30,7,2.0,b,NaN,32,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.00,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,NaN,8,4.0,b,NaN,36,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.50,average,Cute jacket!,Cute jacket!
82786,807722,NaN,12,5.0,ddd/f,NaN,34,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,NaN,12,5.0,dddd/g,36.0,32,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [752]:
a = df_1['fit'].unique()
print(sorted(a))

['fit', 'large', 'small']

In [753]:
df_1[df_1['fit'].isin(['fit'])]

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
9,123373,NaN,13,5.0,dd/e,41.0,36,new,39,5ft 6in,laurenpolzin,just right,fit,950172,9.00,NaN,NaN,NaN
12,123373,NaN,5,5.0,c,NaN,34,new,NaN,5ft 5in,kmj11492,just right,fit,42840,NaN,NaN,NaN,NaN
13,123373,NaN,7,4.0,dd/e,NaN,34,new,NaN,5ft 5in,katherineoliviaman,just right,fit,767255,NaN,NaN,NaN,NaN
14,123373,NaN,3,5.0,b,36.0,34,new,NaN,5ft 3in,stacy233,just right,fit,510154,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82783,807722,NaN,4,5.0,b,34.0,32,outerwear,NaN,5ft 2in,helenag9,just right,fit,432480,6.00,NaN,I was surprised by the ve,I was surprised by the very good quality of th...
82785,807722,NaN,8,4.0,b,NaN,36,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.50,average,Cute jacket!,Cute jacket!
82787,807722,NaN,12,5.0,dddd/g,36.0,32,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [754]:
df_1[~df_1['fit'].isin(['fit'])]

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29,7,5.0,d,38,34,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31,13,3.0,b,30,36,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30,7,2.0,b,NaN,32,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.00,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN
5,123373,27,11,5.0,c,41,36,new,NaN,5ft 4in,Doreenajane,just right,small,162012,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82778,807722,NaN,12,5.0,d,38.0,36,outerwear,NaN,5ft,mccoysarahe,slightly long,small,470252,NaN,NaN,This jacket is really nic,This jacket is really nice. Seems like it was ...
82779,807722,NaN,12,4.0,dd/e,38.0,36,outerwear,NaN,5ft 7in,lmoore81,just right,small,370303,7.50,average,Got this in black and rec,Got this in black and received so many complim...
82781,807722,NaN,12,5.0,dd/e,40.0,34,outerwear,38,5ft 6in,charlotte,just right,small,11806,6.50,NaN,This looks so cute over d,This looks so cute over dresses! I bought both...
82784,807722,NaN,4,3.0,a,35.0,32,outerwear,NaN,5ft 1in,ciwheeles,just right,large,317420,6.50,average,"It ran a little big, and","It ran a little big, and I'm not crazy about t..."
82786,807722,NaN,12,5.0,ddd/f,NaN,34,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...

## Rent the RunWay

In [4]:
def readDataJson(path):
    x = gzip.open(path)
    for l in x:
        yield json.loads(l)

In [5]:
rent_the_runway_data = []
for d in readDataJson("renttherunway_final_data.json.gz"):
    rent_the_runway_data.append(d)

In [6]:
df = pd.DataFrame(rent_the_runway_data)
df

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016"
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016"
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016"
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015"
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017"

In [7]:
a = df['fit'].unique()
print(sorted(a))

['fit', 'large', 'small']

In [711]:
df[df['fit'].isin(['fit'])]

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192539,fit,66386,34dd,2252812,140lbs,10,work,Fit like a glove!,hourglass,LOVE IT!!! First Item Im thinking of buying!,jumpsuit,"5' 9""",8,42,"May 18, 2016"
192540,fit,118398,32c,682043,100lbs,10,work,The pattern contrast on this dress is really s...,petite,LOVE it!,dress,"5' 1""",4,29,"September 30, 2016"
192541,fit,47002,36a,683251,135lbs,6,everyday,"Like the other DVF wraps, the fit on this is f...",straight & narrow,"Loud patterning, flattering fit",dress,"5' 8""",8,31,"March 4, 2016"
192542,fit,961120,36c,126335,165lbs,10,wedding,This dress was PERFECTION. it looked incredib...,pear,loved this dress it was comfortable and photog...,dress,"5' 6""",16,31,"November 25, 2015"
192543,fit,123612,36b,127865,155lbs,10,wedding,This dress was wonderful! I had originally pla...,athletic,I wore this to a beautiful black tie optional ...,gown,"5' 6""",16,30,"August 29, 2017"

In [710]:
df[~df['fit'].isin(['fit'])]

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
10,small,185966,34b,1077123,135lbs,8,party,The dress arrived with a small hole in the bea...,athletic,It was fun to wear a dress I wouldn't normally...,dress,"5' 3""",12,33,"January 2, 2018"
11,large,533900,34b,130259,135lbs,8,wedding,This dress was absolutely gorgeous and I recei...,pear,"Stunning dress, perfect for a New Year's Eve w...",dress,"5' 6""",8,30,"January 7, 2013"
13,large,391778,36d,143094,142lbs,8,party,I ordered this dress as a replacement because ...,apple,Ordered this as a replacement dress,dress,"5' 2""",20,29,"October 4, 2014"
19,small,16800,34c,1229740,135lbs,10,formal affair,"super cute, 8 was super tight so i wore the 10...",petite,gala ready,gown,"5' 6""",21,33,"November 16, 2017"
27,small,610914,32c,1739627,140lbs,10,party,"Lovely fabric, heavier than I imagined it woul...",hourglass,Runs small,dress,"5' 3""",4,32,"March 10, 2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192528,small,597756,38dd,300980,220lbs,10,wedding,First time using RTR. I wasn't sure what to ex...,full bust,I felt fierce in this dress!,dress,"5' 4""",35,32,"November 12, 2017"
192531,small,136279,32b,330238,115lbs,8,date,The dress is very tight around the butt and hi...,athletic,Hot dress. Lots of compliments from strangers.,sheath,"5' 6""",4,32,"June 2, 2015"
192532,small,838239,36c,863680,150lbs,10,wedding,Absolutely stunning dress. details and tulle m...,hourglass,"Made for a princess. Stunning, elegant, great ...",dress,"5' 0""",24,55,"July 25, 2017"
192536,large,442241,34d,166633,127lbs,8,wedding,Based on reviews I ordered a 4 and a 6. The 4 ...,full bust,"I received so many compliments on the dress, ...",mini,"5' 5""",8,33,"April 15, 2014"
192538,large,41453,34d,326784,135lbs,8,wedding,I wore this dress at my rehearsal dinner and i...,hourglass,"Perfect rehearsal dinner for the ""not all whit...",dress,"5' 2""",4,27,"May 31, 2016"

### Cleaning up Data

#### y

In [819]:
y = df.iloc[:, 0].values

In [820]:
np.where(y == 'small')

(array([    10,     19,     27, ..., 192528, 192531, 192532]),)

In [821]:
np.where(y == 'large')

(array([    11,     13,     51, ..., 192525, 192536, 192538]),)

In [822]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [823]:
y

array([0, 0, 0, ..., 0, 0, 0])

In [824]:
np.where(y == 1)

(array([    11,     13,     51, ..., 192525, 192536, 192538]),)

In [825]:
np.where(y == 2)

(array([    10,     19,     27, ..., 192528, 192531, 192532]),)

In [826]:
### Fit = 0, Large = 1, Small = 2

In [827]:
unique, counts = np.unique(y, return_counts=True)
dict(zip(unique, counts))

{0: 142058, 1: 24707, 2: 25779}

#### X

In [828]:
X = df.iloc[:, 1:].values

In [829]:
X

array([['420272', '34d', '2260466', ..., 14, '28', 'April 20, 2016'],
       ['273551', '34b', '153475', ..., 12, '36', 'June 18, 2013'],
       ['360448', nan, '1063761', ..., 4, '116', 'December 14, 2015'],
       ...,
       ['47002', '36a', '683251', ..., 8, '31', 'March 4, 2016'],
       ['961120', '36c', '126335', ..., 16, '31', 'November 25, 2015'],
       ['123612', '36b', '127865', ..., 16, '30', 'August 29, 2017']],
      dtype=object)

In [830]:
items_per_user = defaultdict(set)
users_per_item = defaultdict(set)

for d in X:
    user, item = d[0], d[2]
    items_per_user[user].add(item)
    users_per_item[item].add(user)

In [831]:
# Dropping Review Columns
X = np.delete(X, 13, 1) #review_date
X = np.delete(X, 8, 1) #review_summary
X = np.delete(X, 6, 1) #review_text
X = np.delete(X, 4, 1) #rating

In [832]:
## Never thought I had to look up bra sizes in my life. Thanks CS.
## https://www.evasintimates.com/blog/us-bra-sizes/
bra_size_dict = {'aa': 0, 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'dd': 5, 'e': 5, 'ddd': 6, 'f': 6, 'dddd': 7, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12}

In [833]:
row, col = X.shape

### Convert bust size to numeric

In [834]:
import re
# convert bust size to numeric
for i in range(row):
    if type(X[i][1]) == str:
        #not math.isnan(X[i][1]):
        split_list = re.split(r'([A-Za-z]+)',X[i][1])
        new_val = int(split_list[0]) + bra_size_dict[split_list[1]]
        X[i][1] = new_val

In [835]:
X[0]

array(['420272', 38, '2260466', '137lbs', 'vacation', 'hourglass',
       'romper', '5\' 8"', 14, '28'], dtype=object)

### Convert weight to numeric

In [836]:
for i in range(row):
    if type(X[i][3]) == str:
        split_list = re.split(r'([A-Za-z]+)',X[i][3])
        X[i][3] = int(split_list[0])

In [837]:
X[0]

array(['420272', 38, '2260466', 137, 'vacation', 'hourglass', 'romper',
       '5\' 8"', 14, '28'], dtype=object)

### Convert height to inches

In [838]:
for i in range(row):
    if type(X[i][7]) == str:
        split_list = re.findall(r'[A-Za-z]+|\d+', X[i][7])
        X[i][7] = int(split_list[0]) * 12  + int(split_list[1])

In [839]:
X[0]

array(['420272', 38, '2260466', 137, 'vacation', 'hourglass', 'romper',
       68, 14, '28'], dtype=object)

### Convert categorical data to label

In [840]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 4] = le.fit_transform(X[:, 4])
X[:, 5] = le.fit_transform(X[:, 5])
X[:, 6] = le.fit_transform(X[:, 6])

In [808]:
#X[:, 0] = le.fit_transform(X[:, 0])
#X[:, 2] = le.fit_transform(X[:, 2])

### Convert 'String' age to Numeric

In [841]:
for i in range(row):
    if type(X[i][9]) == str:
        X[i][9] = int(X[i][9])

In [842]:
X[0]

array(['420272', 38, '2260466', 137, 6, 3, 44, 68, 14, 28], dtype=object)

### Drop user id and item for model

In [843]:
features_X = np.delete(X, 2, 1) #item
features_X = np.delete(features_X, 0, 1) #user

In [844]:
features_X[0]

array([38, 137, 6, 3, 44, 68, 14, 28], dtype=object)

In [845]:
### Test drop categorical data
#features_X = np.delete(features_X, 4, 1)
#features_X = np.delete(features_X, 3, 1)
#features_X = np.delete(features_X, 2, 1)

In [846]:
#features_X = np.delete(features_X, 4, 1) #Drop age

In [847]:
features_X[0]

array([38, 137, 6, 3, 44, 68, 14, 28], dtype=object)

### Take care of missing data

In [848]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(features_X)
features_X = imputer.transform(features_X)

In [849]:
features_X[0] #Float

array([ 38., 137.,   6.,   3.,  44.,  68.,  14.,  28.])

### Jaccard

In [36]:
def Jaccard(s1, s2):
    numer = len(s1.intersection(s2))
    denom = len(s1.union(s2))
    if denom == 0:
        return 0
    return numer / denom

In [37]:
def most_similar(i, N):
    similarities = []
    recipes = items_per_user[i]
    for i2 in items_per_user:
        if i2 == i: continue
        sim = Jaccard(recipes, items_per_user[i2])
        #sim = Pearson(i, i2) # Could use alternate similarity metrics straightforwardly
        similarities.append((sim,i2))
    #similarities.sort(reverse=True)
    similarities.sort(key=lambda x: x[1])
    similarities.sort(key=lambda x: x[0], reverse=True)
    return similarities[:N]

### Combination

In [850]:
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=0)
#X_resampled, y_resampled = smote_enn.fit_resample(X, y)
features_X, y = smote_enn.fit_resample(features_X, y)

## Train and Test

In [851]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features_X, y, test_size = 0.5, random_state = 42)

In [852]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [853]:
from sklearn.metrics import accuracy_score

In [854]:
from sklearn.utils import class_weight

In [855]:
from sklearn.metrics import f1_score

### Always Fit

In [856]:
def AlwaysFit(y):
    row = len(y)
    y_pred = []
    for i in range(row):
        y_pred.append(0)
    return np.array(y_pred)

In [857]:
y_pred = AlwaysFit(y_test)

In [858]:
accuracy_score(y_test, y_pred)

0.1604061443886572

In [859]:
f1_score(y_test, y_pred, zero_division=1, average='weighted')

0.04434676821052216

### Random Classifier

In [895]:
import random
def RandomClassifier(y):
    row = len(y)
    y_pred = []
    for i in range(row):
        curr_val = random.randint(0, 2)
        y_pred.append(curr_val)
    return np.array(y_pred)

In [896]:
y_pred = RandomClassifier(y_test)

In [897]:
accuracy_score(y_test, y_pred)

0.3346214964078155

### Logistic Regression

In [860]:
from sklearn.linear_model import LogisticRegression
lg_classifier = LogisticRegression(random_state = 42)
lg_classifier.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [861]:
y_pred = lg_classifier.predict(X_test)

In [862]:
accuracy_score(y_test, y_pred)

0.5739587141247827

In [863]:
f1_score(y_test, y_pred, zero_division=1, average='weighted')

0.5241001740833178

### KNN

In [864]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
knn_classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [865]:
y_pred = knn_classifier.predict(X_test)

In [866]:
accuracy_score(y_test, y_pred)

0.769592885758835

In [867]:
f1_score(y_test, y_pred, zero_division=1, average='weighted')

0.7567687922724982

### Support Vector Machine

In [755]:
from sklearn.svm import SVC
svm_classifier = SVC(kernel = 'linear', random_state = 42)
svm_classifier.fit(X_train, y_train)

SVC(kernel='linear', random_state=42)

In [49]:
y_pred = svm_classifier.predict(X_test)

In [52]:
accuracy_score(y_test, y_pred)

0.7343152733920558

In [727]:
f1_score(y_test, y_pred, zero_division=1, average='weighted')

0.6332624225255479

### Naive Bayes

In [868]:
# Much faster than SVC but similar accuracy
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()
nb_classifier.fit(X_train, y_train)

GaussianNB()

In [869]:
y_pred = nb_classifier.predict(X_test)

In [870]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.5240933744152908

In [871]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred, average=None)

array([0.36419753, 0.51859074, 0.53092924])

In [872]:
f1_score(y_test, y_pred, zero_division=1, average='weighted') # Take label imbalance into account

0.4807297183530565

### Decision Tree

In [873]:
from sklearn.tree import DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
dt_classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [874]:
y_pred = dt_classifier.predict(X_test)

In [875]:
accuracy_score(y_test, y_pred)

0.7322684850157788

### Random Forest

In [889]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators = 200, criterion = 'entropy', random_state = 42)
rf_classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=200, random_state=42)

In [890]:
y_pred = rf_classifier.predict(X_test)

In [891]:
accuracy_score(y_test, y_pred)

0.8381987600808708

### AdaBooster

In [882]:
from sklearn.ensemble import AdaBoostClassifier
ab_classifier = AdaBoostClassifier(n_estimators=100, random_state=0)
ab_classifier.fit(X_train, y_train)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [883]:
y_pred = ab_classifier.predict(X_test)

In [884]:
accuracy_score(y_test, y_pred)

0.5991599585201542

### Bagging Classifier

In [885]:
from sklearn.ensemble import BaggingClassifier
bc = BaggingClassifier(base_estimator=GaussianNB(), random_state=0)
bc.fit(X_train, y_train)

BaggingClassifier(base_estimator=GaussianNB(), random_state=0)

In [886]:
y_pred = bc.predict(X_test)

In [887]:
accuracy_score(y_test, y_pred)

0.5244738550145105

### Gradient Boosting Classifier

In [892]:
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, random_state=0)
gbc.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=1.0, random_state=0)

In [893]:
y_pred = gbc.predict(X_test)

In [894]:
accuracy_score(y_test, y_pred)

0.6989652419782006

## Idea: Split the labels to (fit and small) and (fit and large)

In [256]:
### Split the features_X, y
### Fit = 0, Large = 1, Small = 2
small_X = []
small_y = []
large_X = []
large_y = []
row_num, col_num = features_X.shape
flag = True
for i in range(row_num):
    if y[i] == 1:
        large_X.append(features_X[i])
        large_y.append(y[i])
    elif y[i] == 2:
        small_X.append(features_X[i])
        small_y.append(y[i])
    else:
        # Fit
        if flag is True:
            large_X.append(features_X[i])
            large_y.append(y[i])
            flag = False
        else:
            small_X.append(features_X[i])
            small_y.append(y[i])
            flag = True

small_X = np.array(small_X)
small_y = np.array(small_y)
large_X = np.array(large_X)
large_y = np.array(large_y)

## Train and Test

In [257]:
small_X_train, small_X_test, small_y_train, small_y_test = train_test_split(small_X, small_y, test_size = 0.25, random_state = 42)

In [258]:
large_X_train, large_X_test, large_y_train, large_y_test = train_test_split(large_X, large_y, test_size = 0.25, random_state = 42)

In [260]:
sc = StandardScaler()
small_X_train = sc.fit_transform(small_X_train)
small_X_test = sc.transform(small_X_test)
large_X_train = sc.fit_transform(large_X_train)
large_X_test = sc.transform(large_X_test)

### Dual Logistic Regression

In [261]:
from sklearn.linear_model import LogisticRegression
s_lg_classifier = LogisticRegression(random_state = 42)
s_lg_classifier.fit(small_X_train, small_y_train)

LogisticRegression(random_state=42)

In [262]:
l_lg_classifier = LogisticRegression(random_state = 42)
l_lg_classifier.fit(large_X_train, large_y_train)

LogisticRegression(random_state=42)

In [263]:
y_pred = s_lg_classifier.predict(small_X_test)

In [264]:
accuracy_score(small_y_test, y_pred)

0.726716800264441

In [265]:
y_pred = l_lg_classifier.predict(large_X_test)

In [266]:
accuracy_score(large_y_test, y_pred)

0.7418734854182335

In [92]:
## Much higher!

### Dual KNN

In [267]:
from sklearn.neighbors import KNeighborsClassifier
s_knn_classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
s_knn_classifier.fit(small_X_train, small_y_train)

KNeighborsClassifier()

In [268]:
l_knn_classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
l_knn_classifier.fit(large_X_train, large_y_train)

KNeighborsClassifier()

In [269]:
y_pred = s_knn_classifier.predict(small_X_test)

In [270]:
accuracy_score(small_y_test, y_pred)

0.696182133707958

In [271]:
y_pred = l_knn_classifier.predict(large_X_test)

In [272]:
accuracy_score(large_y_test, y_pred)

0.704729673268154

### Dual SVM

In [273]:
from sklearn.svm import SVC
s_svm_classifier = SVC(kernel = 'linear', random_state = 42)
s_svm_classifier.fit(small_X_train, small_y_train)

SVC(kernel='linear', random_state=42)

In [274]:
l_svm_classifier = SVC(kernel = 'linear', random_state = 42)
l_svm_classifier.fit(large_X_train, large_y_train)

SVC(kernel='linear', random_state=42)

In [275]:
y_pred = s_svm_classifier.predict(small_X_test)

In [276]:
accuracy_score(small_y_test, y_pred)

0.7324188083629453

In [277]:
y_pred = l_svm_classifier.predict(large_X_test)

In [278]:
accuracy_score(large_y_test, y_pred)

0.7418734854182335

### Dual Naive Bayes

In [609]:
cw_s = class_weight.compute_class_weight('balanced', np.unique(small_y_train), small_y_train)

/Users/evangelurtz/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass classes=[0 2], y=[0 0 0 ... 0 2 0] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [614]:
cw_s

array([0.68106861, 1.88069212])

In [610]:
cw_l = class_weight.compute_class_weight('balanced', np.unique(large_y_train), large_y_train)

/Users/evangelurtz/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass classes=[0 1], y=[0 0 1 ... 0 0 0] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [615]:
cw_l

array([0.67390611, 1.93755734])

In [664]:
sw_s = class_weight.compute_sample_weight(class_weight={0: 1.28106861, 2:1.88069212}, y=small_y_train)

In [665]:
sw_l = class_weight.compute_sample_weight(class_weight={0: 1.27390611, 1: 1.93755734}, y=large_y_train)

In [666]:
from sklearn.naive_bayes import GaussianNB
s_nb_classifier = GaussianNB()
s_nb_classifier.fit(small_X_train, small_y_train, sample_weight=sw_s)

GaussianNB()

In [667]:
l_nb_classifier = GaussianNB()
l_nb_classifier.fit(large_X_train, large_y_train, sample_weight=sw_l)

GaussianNB()

In [668]:
y_pred_small = s_nb_classifier.predict(small_X_test)

In [669]:
accuracy_score(small_y_test, y_pred_small)

0.7135773902983225

In [670]:
y_pred_large = l_nb_classifier.predict(large_X_test)

In [671]:
accuracy_score(large_y_test, y_pred_large)

0.7386980864042785

In [625]:
print(len(y_test))
print(len(large_y_test))
print(len(small_y_test))

96272
23934
24202

In [626]:
###############

In [627]:
y_pred_s = s_nb_classifier.predict(X_test)
y_pred_l = l_nb_classifier.predict(X_test)

In [628]:
y_test_binary = []
for i in range(len(y_test)):
    if y_test[i] == 0:
        y_test_binary.append(0)
    else:
        y_test_binary.append(1)
y_test_binary = np.array(y_test_binary)

In [629]:
y_pred_binary = []
count = 0
for i in range(len(y_pred_s)):
    if y_pred_l[i] == 0 and y_pred_s[i] == 0:
        y_pred_binary.append(0)
    else:
        y_pred_binary.append(1)
y_pred_binary = np.array(y_pred_binary)

In [630]:
count = 0
zero_predict_count = 0
for i in range(len(y_pred)):
    if y_test_binary[i] != y_pred_binary[i]:
        count+=1
        if y_pred_binary[i] == 0:
            zero_predict_count+=1
print(count)
print(zero_predict_count)

62029
4412

In [631]:
accuracy_score(y_test_binary, y_pred_binary)

0.35569012797074956

In [325]:
count = 0
for i in range(len(y_test)):
    if y_test[i] == 0:
        count+=1
print(count)

35347

In [326]:
from sklearn.multiclass import OneVsRestClassifier
clf = OneVsRestClassifier(GaussianNB()).fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [327]:
accuracy_score(y_test, y_pred)

0.734169852085757

### Dual Decision Tree

In [105]:
from sklearn.tree import DecisionTreeClassifier
s_dt_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
s_dt_classifier.fit(small_X_train, small_y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [106]:
l_dt_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
l_dt_classifier.fit(large_X_train, large_y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [107]:
y_pred = s_dt_classifier.predict(small_X_test)

In [108]:
accuracy_score(small_y_test, y_pred)

0.7566253574833175

In [109]:
y_pred = l_dt_classifier.predict(large_X_test)

In [110]:
accuracy_score(large_y_test, y_pred)

0.761129233426077

### Dual Random Forest

In [111]:
from sklearn.ensemble import RandomForestClassifier
s_rf_classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 42)
s_rf_classifier.fit(small_X_train, small_y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [112]:
l_rf_classifier = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 42)
l_rf_classifier.fit(large_X_train, large_y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [113]:
y_pred = s_rf_classifier.predict(small_X_test)

In [114]:
accuracy_score(small_y_test, y_pred)

0.8349142040038131

In [115]:
y_pred = l_rf_classifier.predict(large_X_test)

In [116]:
accuracy_score(large_y_test, y_pred)

0.8423678403530653